body{
  background-color: #212529;
}


.contenedorEst{  
  height: 900px;
}

.colorArribaMilitar{
  background-image: url(../public/Img/tablaMilitar.jpg);
  color: white;
  border:1px solid black;
  
  
}

.colorArribaResto{
  background-color: #0b2449;
  color: white;
  border:1px solid black;
}

.fondoMilitar{
  background-image: url(../public/Img/fondo1.jpg);
  background-repeat: no-repeat;
}

.fondoTerra{
  background-image: url(../public/Img/fondoTerra.jpg);
  background-repeat: no-repeat;

}

.fondoCatan{
  background-image: url(../public/Img/fondoCatan.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
}

.colorAbajo{
  background-color: darkslategray;
  color:white;
}

.table{
  width: 50%;
  margin-top: 30px;  
  overflow: hidden;
  border: 2px solid black;
  vertical-align:middle;
  caret-color: transparent;
  border-collapse: separate; 
  border-spacing: 0px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  font-weight: bold;

}





.BordeTabla:first-child{
  background-color: rgb(224, 218, 142);
  color:black;
}
.BordeTabla:nth-child(2){
  background-color: rgb(143, 141, 141);
  color:black;
}
.BordeTabla:nth-child(3){
  background-color: darkgoldenrod;
  color:black;
}
.BordeTabla:last-child{
  border:transparent;
}

.CardAzul{
  background-color: #0b2449;
  border: 3px solid black;
  caret-color: transparent;

}

.borde{
  border: 3px solid black;
}

.noticias{
  background-color: #06152b;
  border: 3px solid black;
  width: 70%;
  height: 300px;  
  
}

.contendorImg{  
  height: 293px;    
  width: 70%;
  overflow: hidden;
}
.contendorImg img{   
 
  transition: transform .2s;
  width: 100%;
  height: 293px;
  
}

.contendorImg img:hover{  
  transform: scale(1.2);
  cursor: pointer;
}

.noticiasInfo{
  width: 100%;
}
.noticias h2{
  color:white;
}

.noticias h2:hover{
  color:#c98337;
  cursor: pointer;
}

.banner{
  background-image: url(../public/Img/fondo.png);
  height: 150px;
}

.banner h1{
  font-family: 'Cinzel', serif;
}

.bordesTablero{
  border: 3px solid black;
  background-color: #0b2449;
  width: 70%;
}

.inputTablero {
  width: 50px;
  height: 50px;
}

.tituloEst{
  margin-top: 180px;
  color:white;
  font-weight: bold;
  border: 3px solid black;
  background-color:darkslategray;
  padding: 5px;
  -webkit-text-stroke: 2px black;
  border-radius: 15px;
  caret-color: transparent;
}

.tituloPanel{
  caret-color: transparent;

}
